{
  "semi": true,
  "singleQuote": false,
  "printWidth": 5000,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [
        "*.json",
        "*.jsonc"
      ],
      "options": {
        "semi": false
      }
    }
  ]
}
